<% layout('layouts/boilerplate') %> 
    <h1><%= room.PGname %> </h1>
    <h2><%= room.location %> </h2>
    <img src="<%= room.image %> " alt="">
    <p><%= room.description %> </p>
    <footer>
        <p>
            <a href="/rooms/<%= room._id %>/edit ">Edit</a>
        </p>
        <p>
            <a href="/rooms">All Rooms</a>
        </p>
        <p>
            <form action="/rooms/<%= room._id %>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </p>
    </footer>